<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/changeColor.js" type="text/javascript" defer></script>
    <title>Document</title>
</head>
<body>
    <p><a href="/">Retour index</a></p>

    <p id="para">SOME TEXT HERE</p>
        <button onclick="changeColor('blue');">blue</button>
        <button onclick="changeColor('red');">red</button>

</body>
</html>