<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/horaires.js" type="text/javascript" defer></script>
    <title>Fuseaux horaires</title>
</head>
<body>
    <p><a href="/">Retour index</a></p>
    <center id="centre">
        <div id="corps">
            <h1>Fuseaux horaires et pays</h1>
        </div>


    </center>
</body>
</html>