<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index des projets</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <h1>Les projets de la team DWWM24 Algo js</h1>
    <p>Bienvenue sur la liste des projets de la team DWWM24, ci-dessous la liste des pages accessibles à ce jour :</p>
    <div id="liste">
        <ul>
            <% if (pageList) { %>
                <%  Object.keys(pageList).forEach(function (key) { %>
                    <a href="<%= key %>"><li class="li-index">► <%= pageList[key] %></li></a>
                <% }) %>
            <% } %>
        </ul>
    </div>
    <p><br> Note: Certains projets ne sont accessibles que sur le terminal, pour les lancer il faut executer le fichier projets.js avec node </p>
    <form method="POST" action="/submit-form" id="testsqs">
        <input type="text" name="username" />
        <input type="submit" id="teur" value="aaaa"/>
    </form>
</body>
</html>