.save{
    position: fixed;
    right: 2%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    text-shadow: 0px 0px 4px black;
    border-radius: 10px;
    bottom: 10%;
    opacity: 0;
    transition: opacity 0.5s linear;
}

body{
    background-color: rgb(37, 37, 37);
    font-family: cursive;
    color: #90ce53;
}
ul{
    padding: 0;
    list-style: none;
}

#liste, #centre, h1{
    background-color:rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
}

#liste:hover{
    box-shadow: 0 0 5px #90ce53 inset;
}

.li-index{
    height: 60px;
    line-height: 60px;
    box-shadow: 10px 0px 100px -100px black inset;
    position: relative;
}

.li-todo, .li-todo-edit{
    padding: 20px 0 20px 0;
}

.li-todo-edit input{
    color: orange;
    border-color: orange;
}

li:hover{
    background: linear-gradient(90deg, rgba(255,0,0,0.4) 0%, rgba(0,212,255,0) 100%);     cursor: pointer;
    
    transition: all 0.2s linear;
}

a{
    text-decoration: none;
    color: #90ce53;
}

a:hover, button:hover{
    text-shadow: 0 0 5px red;
}

button{
    width: 5%;
    background: black;
    color: #90ce53;
    border-color: #90ce53;
    border-radius: 5px;
    font-family: cursive;
    border-width: 1px;
}

button:hover, #taskNew:hover{
    box-shadow: 0 0 5px #90ce53 inset;
}

input{
    background-color: #121212;
    border: 1px solid #90ce53;
    color: #90ce53;

}

input:focus{
    outline: none;
}

select{
    background-color: black;
color: #3b8e2f;
border-width: 1px;
border-color: #3b8e2f;
}

.red-glow{
    text-shadow: 0 0 5px red;
}

#submit-todo{
    color: red;
    font-family: cursive;
    border-color: red;
}

#submit-todo:hover{
    text-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red inset;
}

#ul-todo{
    border: 3px rgba(255, 255,255, 0.4) dashed;
    background-color: black;
    border-radius: 15px;
}

#ul-todo li:nth-child(2n){
    background-color: rgba(255, 255,255, 0.1);
}

#para{
    transition: all 0.5 linear;
}